html {
    display: flex;
    justify-content: center;
}
table {
    width: 100%;
    font-family: "Ubuntu", sans-serif;
    box-shadow: 10px 10px 5px #628ca6;
}
table, th, td {
    border: 1px solid #aaa;
    border-collapse: collapse;
    text-align: center;
}
th, td {
    padding: 10px 20px;
}
table tbody tr:nth-child(even) {
    background-color: #e7ffed;
}
table tbody tr:nth-child(odd) {
    background-color: #e7f0ed;
}
thead {
    background-color: #628ca6;
    color: #fff;
}
thead tr:first-child{
    background-color: #7fb9c2;
    color: #000;
    font-size: 2em;
}
.highlight {
    background-color: #628ca6;
    color: #fff;
}
tfoot {
    background-color: #7fb9c2;
}
