@media only screen and (min-width: 64em) {
    /* Only CSS rules that need to be changed to meet the layout needs from medium to large/wide go in here */

    nav ul li a {
		padding: .6rem 1rem;
    }
    .container {
		display: grid;
		grid-template-columns: repeat(7, 1fr);
		grid-column-gap: 2rem;
		grid-row-gap: 1rem;
    }
	.h1text {
		grid-column-start: 1;
		grid-column-end: 8;
		grid-row-start: 1;
		grid-row-end: 2;
	}
	.about {
		grid-column-start: 1;
		grid-column-end: 6;
		grid-row-start: 2;
		grid-row-end: 3;
	}
	.event {
		grid-column-start: 6;
		grid-column-end: 8;
		grid-row-start: 2;
		grid-row-end: 4;
	}
	.event {
		display: flex;
		flex-flow: column;
		text-align: center;
	}
	.event .contfig {
		width: 100%;
		order: 2;
		margin-top: 3em;
	}
	.event .fullriga {
		width: 100%;
		margin: 0;
		order: 1;
	}
	#kuki {
		order: 0;
	}
	.news {
		grid-column-start: 1;
		grid-column-end: 6;
		grid-row-start: 3;
		grid-row-end: 4;
	}

}
