@media only screen and (min-width: 64em) {
    /* Only CSS rules that need to be changed to meet the layout needs from medium to large/wide go in here */

    nav ul li a {
		padding: .6rem 1rem;
    }
    .container {
		display: grid;
		grid-template-columns: repeat(7, 1fr);
		grid-column-gap: 2rem;
		grid-row-gap: 1rem;
    }
	.home {
		grid-column-start: 1;
		grid-column-end: 8;
		grid-row-start: 1;
		grid-row-end: 2;
	}
	.about {
		grid-column-start: 1;
		grid-column-end: 6;
		grid-row-start: 2;
		grid-row-end: 3;
	}
	/*.about picture {
		grid-column-start: 1;
		grid-column-end: 3;
	}*/
	.event {
		grid-column-start: 6;
		grid-column-end: 8;
		grid-row-start: 2;
		grid-row-end: 4;
	}
	.event {
		display: flex;
		flex-flow: column;
		text-align: center;
	}
	.event figure.contfig {
		width: 100%;
		order: 2;
		margin-top: 3em;
	}
	.event .fullriga {
		width: 100%;
		margin: 0;
		order: 1;
	}
	.fullriga h3 {
		margin-bottom: 1em;
	}
	.news {
		grid-column-start: 1;
		grid-column-end: 6;
		grid-row-start: 3;
		grid-row-end: 4;
	}

}
