@media only screen and (min-width: 37.5rem) {
    /* Only CSS rules that need to be changed to meet the layout needs from small to medium go in here */

    header h1 {
        font-size: 1.8rem;
    }
    header .subheading {
        padding: .7rem 0 .6rem 0;
        font-size: 1.3rem;
    }
	.intesta figure.imglogo {
	margin: 0 3rem 0 0;
}
    .headcont {
        max-width: 100%;
        display: flex;
    }
	.header-small button {
		display: none;
	}
    nav button {
        display:none;
    }  /* hamburger button does not need to be shown */
    nav ul.hide {
        display: flex;
    }
    nav ul {
        padding: 1% 2% 0 2%;
    }
    nav ul li {
        flex-direction: row;
        flex-wrap: nowrap;
     }
    nav ul li a {
        border: none;
        padding: .6rem 0.7rem;
    }
	.panelN {
		display: flex;
	}
	.panelN figure {
		padding-top: 1em;
	}
	.finCont {
	display: flex;
	justify-content: space-around;
}
	.contfig {
		width: 50%;
	}
	img{
		max-width: 100%;
	}
	.text, .fullriga {
		width: 50%;
		margin: 0 1% 0 2%;
	}
	#accMenu {
		width: 100%;
		margin: 0;
	}
	#accMenus {
		width: 100%;
		margin: 0;
	}
	article #accMenus h2{
		margin-top: 0;
	}
	article #accMenu h2{
		margin-top: 0;
	}
	.event #eventPg {
		display: flex;
	}
	#kuki {
		width: 100%;
		margin: 0;
	}
	.text h2, .fullriga h2 {
		margin-top: 0;
	}
	.about, .event, .news {
		display: flex;
		margin-bottom: 2em;
	}
	.about {
		flex-flow: row;
	}
	footer aside {
		display: flex;
		flex-flow: row nowrap;
	}
	footer .first {
		display: flex;
		flex-flow: row nowrap;
		justify-content: center;
	}
	footer .first .newsletter {
		margin-right: 6%;
	}
	footer .first .social {
		margin-left: 6%;
	}
	/*.provo, label input {
		max-width: 400px;
	}*/
	.social-link {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	}
	.social h4 {
		margin: 0.8em 2em;
	}
	.socialmedia {
		max-width: 50px;
		margin-top: 0.8em;
	}
	footer .middle {
		justify-content: center;
	}
	footer .middle .box1 {
	margin-right: 8%;
	}
	footer .middle .box2 {
	margin-left: 8%;
	}
	footer .last {
		justify-content: space-between;
	}
}
