/* This main css file contains the default rules and is geared toward the small/phone view */

/*-----Prevents iPhone from resizing in landscape mode -----*/
html {-webkit-text-size-adjust: none; }

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;}  /* This wildcard applies to all elements ensuring a box layout model */

html {
    font-size: 100%;
}

body {
    font-size: 16px;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    /* Declare the base font-family - from google font api or other */
}
header, nav, main, footer { /* the comma means apply the following CSS declarations to all of the listed elrements */
    width: 100%;
}
h1, h2, h3, h4 {
    font-family: "Roboto", sans-serif;
    color: #FF3D00;
}
h2 {
    margin-bottom: 0.6rem;
}
h3 {
    margin-bottom: 0.5rem;
}
p {
    margin-top: 0.5rem;
    line-height: 1.3;
}
.header-small {
    padding: .3rem 2% .3rem 2%;
    line-height: 1;
    background-color: #FF3D00;
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}
.intesta {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
figure {
    margin: 0;
}
.intesta figure.imglogo {
	margin: 0 1rem 0 0;
}
header figure.imglogo img {
    max-width: 100%;
    height: auto;
}
header .subheading {
    padding: .3rem 0 0 0;
    font-size: 1rem;
}
header .buttmenu {
    justify-content: flex-end;
}
header button {
    background-color: transparent;
    border: solid 1px;
    border-radius: 3px;
    font-size: 1.4rem;
    color: #344141;
}
header button:hover {
    color: FF9A00;
}
nav {
    background-color: #344141;
    font-family: "Roboto", sans-serif;
}
nav ul {
    list-style-type:none;
    padding: 0;
    margin:0;
}
nav ul li {}
nav ul li a {
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    color: #FFF;
    border-top: 1px solid rgba(0,0,0,0.3);
}
nav ul li a:hover {
    color: #FF9A00;
}
nav ul li.active a {
    background-color: #FFFFFF;
    color: #FF3D00;
    border-radius: 7px 7px 0 0;
    box-shadow: 0 -4px 7px #99938E;
}
nav ul li a:active {
    background-color: #FFFFFF;
    color: #FF3D00;
}
nav ul.hide {
    display: none;
}
main .medfig {
    max-width: 100%;
}
main .medfig img {
    max-width: 100%;
}
.container {
    max-width: 96%;
    margin: auto;
	display: flex;
	flex-flow: column;
}
#eventA {
	order: 0;
}
#eventB {
	order: 1;
}
#eventC {
	order: 2;
}
.thanksCont {
	margin: 2% auto 4% auto;
	max-width: 500px;
    text-align: left;
	padding: 0.5em 1em;
	background-color: #FFC263;
    color: #344141;
	border: 2px solid #FF3D00;
	border-radius: 3px;
}
.thanksBtn {
	margin: 2% auto 4% auto;
}
figure.contfig img{
    max-width: 100%;
}
.h1text {
    text-align: center;
}
.about, .event, .news {
	margin-bottom: 2em;
	padding: 2%;
    box-shadow: 3px 3px 8px 3px #344141;
}
.event {
    text-align: center;
	padding-bottom: 5%;
}
.event h2 {
    color: #FF9A00;
    background-color: #344141;
	margin-top: 0;
	padding: 0.2em 0;
}
.event p {
	text-align: left;
}
.linkEvent {
    color: #017277;
    text-decoration: none;
}
.linkEvent:hover {
    color: #FF3D00;
}
footer {
    display: flex;
    background-color: #344141;
    color: #FFFFFF;
    flex-direction: column;
    text-align: center;
}
footer aside {
    background-color: #344141;
    color:#FFFFFF;
    padding: 0.3rem 0;
}
.first {
    display: flex;
    flex-direction: column;
}
footer form {
    padding: 0.5em 0;
}
.myForm, .eventForm {
    text-align: center;
}
fieldset {
    display: flex;
    text-align: center;
    max-width: 300px;
    background-color: #344141;
    border-style: none;
    margin: 0.5em auto;
    padding: 0.3em;
}
.eventForm fieldset {
	max-width: 520px;
	padding: 0.5em;
}
legend {
    display: block;
    text-align: left;
    font-family: "Roboto", sans-serif;
    font-size: 1.1em;
    color: #FF9A00;
}
.eventForm legend {
	margin: 1em 0;
	text-align: center;
	padding: .5em;
    border: #FF3D00 solid 2px;
	color: #FF3D00;
    background-color: #FFFFFF;
    border-radius: .3em;
}
label {
    display: block;
    text-align: left;
}
.eventForm label {
	margin-bottom: 1em;
}
label span {
    display: block;
    font-family: "Roboto", sans-serif;
    font-size: .9em;
    color: #FFFFFF;
    margin: 0.3em 0 0 0;
}
textarea {
    width: 100%;
    max-width: 500px;
}
.thbtn {
	text-align: center;
	margin: 2em 0 1em 0;
}
.submitBtn {
    -webkit-appearance: none; /* remove the apple mobile default styling */
    color: #fff;
    border: solid 1px #111;
    border-radius: 7px;
    width: 100%;
    max-width: 290px;
    font-size: 1.2em;
    padding: .3em;
    background: #FF9A00;
    box-shadow: 4px 4px 10px #666;
}
.submitBtn:hover {
    background: #FF3D00;
}
.social {
    justify-content: space-between;
}
.provo {
    max-width: 300px;
    margin: auto;
}
.social h4 {
    font-family: "Roboto", sans-serif;
    font-size: 1.2em;
    color: #FF9A00;
    margin: 1em 0 0.7em 0;
}
.social-link {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.soclink a img:hover {
    box-shadow: 4px 4px 10px #FF9A00;
}
.goHomeBtn {
    -webkit-appearance: none; /* remove the apple mobile default styling */
    text-decoration: none;
    color: #fff;
    border: solid 1px #111;
    border-radius: 7px;
    width: 100%;
    max-width: 290px;
    font-size: 1.2em;
    padding: .3em;
    background: #FF9A00;
    box-shadow: 4px 4px 10px #666;
	text-align: center;
}
.goHomeBtn:hover {
    background: #FF3D00;
}
/*NEW HTML5 validation*/
label input {
    background-color: #FFFFFF;
    color: #344141;
    margin: 0.3em 0;
    padding: .3em .5em;
    border: solid 1px #FFFFFF;
    border-radius: 5px;
    font-size: .9em;
    width: 100%;
    max-width: 300px;
    outline: none;
}
.eventForm label input {
	max-width: 500px;
}
.eventForm label textarea {
	margin: 0.3em 0;
}
/* The input that currently has the focus */
input:focus {
    box-shadow: 0px 0px 1px 2px rgba(255,61,0,1) inset;
}
footer h5, footer h6 {
    font-family: "Roboto", sans-serif;
    margin: .3rem 0;
}
footer h5 {
    font-size: 1rem;
}
footer h6 {
    font-size: .9rem;
}
footer aside a {
    color: #FF3D00;
    text-decoration: none;
}
footer aside a:hover {
    color: #FF9A00;
}
.footer-bar {
    padding: 0.2rem 0;
    margin: 0 2%;
    font-family: "Roboto", sans-serif;
    font-size: .65rem;
}
hr {
    margin-left: 2%;
    margin-right: 2%;
}

/* Other Class Selectors */
.clearfix:after {
    content: "";
    display: table;
    clear: both;
    }
